    <section class="section section_about container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section__content">
                    <h1 class="section__heading">I am Olga Zhyzhka</h1>
                    <h2 class="section__title">Frontend Developer</h2>
                    <p>For anyone who wants to start learning code, this workshop is very interesting. You will be challenged with different
                    exercises, and everything is well explained, homework and deadlines are good for keep focus</p>
                </div>
            </div>
            <div class="col-lg-6 section__image">
                <img src="./assets/images/img1.jpg" alt="Patricia Pereira">
            </div>
        </div>
    </section>